/*===== FONTS =====*/

@font-face {
	font-family: PlusJakartaSans;
	src: url("../fonts/PlusJakartaSans.woff");
}

@font-face {
	font-family: OpenSauceSansRegular;
	src: url("../fonts/opensaucesans-regular.woff");
}

@font-face {
	font-family: RethinkSansExtraBold;
	src: url("../fonts/RethinkSans-ExtraBold.woff");
}

// Font Stack Properties
$main: "RethinkSansExtraBold", sans-serif;
$body: "OpenSauceSansRegular", "PlusJakartaSans", sans-serif;
