/*===== FONTS =====*/

@font-face {
	font-family: PlusJakartaSans;
	src: url("../fonts/PlusJakartaSans.woff");
}

@font-face {
	font-family: OpenSauceSansRegular;
	src: url("../fonts/opensaucesans-regular.woff");
}

@font-face {
	font-family: neuveGrotesqueBold;
	src: url("../fonts/neuvegrotesque-bold.woff");
}

// Font Stack Properties
$main: "neuveGrotesqueBold", sans-serif;
$body: "OpenSauceSansRegular", "PlusJakartaSans", sans-serif;
